<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>-->
   <section name="unity" type=".Unity.Configuration, Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
 

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <typeAliases>
      <typeAlias alias="IDBAccess" type="DIContainer.IBook,DIContainer" />
      <typeAlias alias="SQLDataAccess" type="DIContainer.IBook,DIContainer" />
    </typeAliases>
    <container>
      <register type="IDBAccess" mapTo="SQLDataAccess" />
    </container>
  </unity>

</configuration>




